<div class="authincation h-100">
  <div class="container vh-100">
      <div class="row justify-content-center h-100 align-items-center">
          <div class="col-lg-6 col-md-8">
              <div class="authincation-content">
                  <div class="row no-gutters">
                      <div class="col-xl-12">
                          <div class="auth-form">
                              <div class="text-center mb-3">
                                  <!--<a [routerLink]="['/admin/index']"><img src="assets/images/logo-full.png" alt=""></a>-->
                              </div>
                              <h4 class="text-center mb-4 text-white">Se connecter a votre compte</h4>
                              <form action="['/admin/index']">
                                  <div class="form-group">
                                      <label class="mb-1 text-white"><strong>Email</strong></label>
                                      <input type="email" class="form-control" value="hello@example.com">
                                  </div>
                                  <div class="form-group">
                                      <label class="mb-1 text-white"><strong>Mot de passe</strong></label>
                                      <input type="motdepasse" class="form-control" value="motdepasse">
                                  </div>
                                  <div class="form-row d-flex justify-content-between mt-4 mb-2">

                                      <div class="form-group">
                                          <a class="text-white" [routerLink]="['/page-forgot-motdepasse']">Mot de passe oublier?</a>
                                      </div>
                                  </div>
                                  <div class="text-center">
                                      <button type="submit" class="btn bg-white text-primary btn-block">Se connecter</button>
                                  </div>
                              </form>
                              <div class="new-account mt-3">
                                  <p class="text-white">vous n'avez pas de compte? <a class="text-white" [routerLink]="['/formadd']">Créer un compte</a></p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
